Repository AliSajid/random-wait-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write --ignore-unknown
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --fix
  language: system

build(reuse): reorganize the REUSE.toml file
  REUSE.toml
Due: prettier

ci: update the harden runner network access
  .github/workflows/check-dist.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/deploy_mdbook.yaml
  .github/workflows/docusaurus-deploy.yaml
  .github/workflows/release.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/sonar-cloud.yaml
  .github/workflows/test.yaml
  REUSE.toml
Due: prettier

build: exclude the map file from mixed line endings
  dist/index.cjs.map
  hk.pkl
Due: prettier

feat: ensure reproducible builds for the bundle
  dist/index.cjs
  dist/index.cjs.map
  package.json
  pnpm-lock.yaml
  rollup.config.ts
Due: prettier, eslint

build: ignore dist/ files for secret scanning
  .gitleaks_baseline.json
  .secrets.baseline
  eslint.config.mjs
  hk.pkl
  mise.toml
  package.json
Due: prettier

build: remove old tool files
  .cz.toml
  .releaserc.yaml
Due: prettier

ci: ensure only the coverage directory is gitignored
  .github/workflows/test.yaml
  .gitignore
  .mise/tasks/coverage
Due: prettier

build: fix the regeneration of the detect secrets basline
  .secrets.baseline
  hk.pkl
Due: prettier

build: fix minor suggestions on typos and versioing
  .github/workflows/test.yaml
  action.yaml
  package.json
Due: prettier

ci: allow further domains for the tasks
  .github/workflows/check-dist.yaml
  .github/workflows/test.yaml
Due: prettier

docs: update the JSDoc Documentation throughout the project
  dist/index.cjs
  dist/index.cjs.map
  src/RandomWaitAction.ts
  src/utils/validateInputs.ts
  src/wait.ts
Due: prettier, eslint

build: update typscript config files
  tsconfig.base.json
  tsconfig.eslint.json
  tsconfig.json
Due: prettier

build: fix case of GitHub name
  package.json
Due: prettier

ci: remove duplicate mise entry from workflow
  .github/workflows/deploy_mdbook.yaml
Due: prettier

build: silence the linting errors
  .codacy.yaml
  .markdownlintignore
  CHANGELOG.md
  REUSE.toml
Due: prettier

ci: add debug logging to find out why the coverage action is not run
  .github/workflows/test.yaml
Due: prettier

build: update sonar config to correctly point to src/ and test coverage
  sonar-project.properties
Due: prettier

fix: fixed the conflicts in the wait.ts file
  dist/index.cjs
  dist/index.cjs.map
  eslint.config.mjs
  src/wait.ts
Due: prettier, eslint

build: remove the eslint file from the typechecking
  eslint.config.mjs
Due: prettier

build: update the pre-commit hooks again
  .pre-commit-config.yaml
Due: prettier

fix: update the CHANGELOG.md
  .codacy.yaml
  CHANGELOG.md
  dist/index.cjs.map
  src/RandomWaitAction.ts
Due: prettier, eslint

build: fix the regeneration of the detect secrets basline
  .secrets.baseline
Due: prettier

build: update the build bundle
  dist/index.cjs
  dist/index.cjs.map
Due: none

build: fix contradictory argparse options in a script
  .mise/tasks/precommit/remove_tabs.py
Due: prettier

build(mise): update pnpm version in mise.toml
  mise.toml
Due: prettier

build: update markdownlint config to match the status of the repo
  .markdownlint.json
Due: prettier

build: remove mandling of function names in rollup
  rollup.config.ts
Due: prettier, eslint

ci: allow mise.jdx.dev for the build job
  .github/workflows/test.yaml
  CHANGELOG.md
Due: prettier

build: correct the ignoreing of detect-secrets and gitleaks
  .gitleaksignore
  .secrets.baseline
  hk.pkl
Due: prettier

build: update the map file
  dist/index.cjs.map
Due: none

ci: upgrade the version of mise task runner
  .github/workflows/check-dist.yaml
  .github/workflows/deploy_mdbook.yaml
  .github/workflows/release.yaml
  .github/workflows/sonar-cloud.yaml
  .github/workflows/test.yaml
Due: prettier

ci: tweak the allowed endpoint list for experimentation
  .github/workflows/check-dist.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/deploy_mdbook.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/sonar-cloud.yaml
  .github/workflows/test.yaml
Due: prettier

build: update dependencies for the action
  package.json
  pnpm-lock.yaml
Due: prettier

Path conditions:
  prettier: any of: not (^dist/.*$), but not: ^dist/.*$
  eslint: any of: \.[jt]sx?$, but not: ^dist/.*$
