Repository AliSajid/random-wait-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2022 - 2025 Ali Sajid Imami
#
# SPDX-License-Identifier: MIT

exclude: "^dist/.*$"
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.2
    hooks:
      - id: commitizen

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch
          - main
          - --branch
          - next
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix=no
      - id: pretty-format-json
        args:
          - --indent=4
          - --autofix
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md
      - id: check-added-large-files

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        args:
          - build
          - chore
          - ci
          - docs
          - feat
          - fix
          - perf
          - refactor
          - revert
          - style
          - test
          - bump
        stages:
          - commit-msg

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          - --config=$(pwd)/.yamllint.yml
        stages:
          - commit-msg

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          - --ignore
          - CHANGELOG.md

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - "--baseline"
          - ".secrets.baseline"
        exclude: "pnpm-lock.yaml"

  - repo: https://github.com/sirosen/texthooks
    rev: 0.7.1
    hooks:
      - id: fix-smartquotes
      - id: fix-ligatures
      - id: forbid-bidi-controls

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.27.0
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write --ignore-unknown
        language: system
        exclude: "^dist/.*$"
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --fix
        language: system
        files: \.[jt]sx?$
  - repo: https://github.com/fsfe/reuse-tool
    rev: "v6.1.2"
    hooks:
      - id: reuse
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.159.4
    hooks:
      - id: renovate-config-validator

build: remove unused packages
  package.json
  pnpm-lock.yaml
Due: prettier

fix: update the distribution
  dist/index.js
  dist/index.js.map
Due: none

tests: allow coverage json to be generated
  vitest.config.ts
Due: prettier, eslint

test: allow coverage json to be generated
  vitest.config.ts
Due: prettier, eslint

feat: add types for errors and success
  package.json
  pnpm-lock.yaml
  src/types/appErrorTypes.ts
  src/types/runtimeError.ts
  src/types/validationErrorTypes.ts
  src/types/validationSuccessTypes.ts
  tsconfig.json
Due: prettier, eslint

feat: update the structure to use true-myth
  README.md
  REUSE.toml
  SECURITY.md
  __tests__/RandomWaitAction.test.ts
  __tests__/validateInputs.test.ts
  __tests__/wait.test.ts
  dist/index.js
  dist/index.js.map
  package.json
  pnpm-lock.yaml
  src/RandomWaitAction.ts
  src/main.ts
  src/types/appErrorTypes.ts
  src/types/runtimeError.ts
  src/types/validationErrorTypes.ts
  src/types/validationSuccessTypes.ts
  src/utils/errors.ts
  src/utils/validateInputs.ts
  src/wait.ts
  tsconfig.json
Due: prettier, eslint

build: downgrade to the compatible typescript verison
  package.json
  pnpm-lock.yaml
Due: prettier

tests: update test infrastructure
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier

test: update test infrastructure
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier

ci: update the names of Node.js installation actions
  .github/workflows/check-dist.yaml
  .github/workflows/release.yaml
  .github/workflows/sonar-cloud.yaml
  .github/workflows/test.yaml
Due: prettier

build: update deps
  package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier

ci: remove the extra unicode character from renovate.json
  renovate.json
Due: prettier

chore(release): 2.9.0 [skip ci]\n\n# [2.9.0](https://github.com/AliSajid/random-wait-action/compare/v2.8.0...v2.9.0) (2025-02-27)
  package.json
Due: prettier

chore(release): 2.10.0-next.1 [skip ci]\n\n# [2.10.0-next.1](https://github.com/AliSajid/random-wait-action/compare/v2.9.0...v2.10.0-next.1) (2025-04-13)
  package.json
Due: prettier

ci: fix minor issues with CI
  .github/workflows/scorecard.yaml
  .github/workflows/sonar-cloud.yaml
Due: prettier

chore(release): 2.10.0 [skip ci]\n\n# [2.10.0](https://github.com/AliSajid/random-wait-action/compare/v2.9.0...v2.10.0) (2025-04-13)
  package.json
Due: prettier
