Repository AliSajid/random-wait-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write --ignore-unknown
  language: system

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --fix
  language: system

docs: update the JSDoc Documentation throughout the project
  dist/index.cjs
  dist/index.cjs.map
  src/RandomWaitAction.ts
  src/utils/validateInputs.ts
  src/wait.ts
Due: prettier, eslint

style: align with prettier conventions
  __tests__/RandomWaitAction.test.ts
  __tests__/validateInputs.test.ts
  __tests__/wait.test.ts
  src/constants.ts
  src/main.ts
Due: prettier, eslint

build: remove the eslint file from the typechecking
  eslint.config.mjs
Due: prettier

build: update the build bundle
  dist/index.cjs
  dist/index.cjs.map
Due: none

build: update the years in copyright sections
  .mise/tasks/precommit/forbid_crlf.py
  .mise/tasks/precommit/forbid_tabs.py
  .mise/tasks/precommit/remove_crlf.py
  .mise/tasks/precommit/remove_tabs.py
Due: prettier

build(mise): update the version of mise installed for management
  .github/workflows/check-dist.yaml
  .github/workflows/deploy_mdbook.yaml
  .github/workflows/release.yaml
  .github/workflows/sonar-cloud.yaml
  .github/workflows/test.yaml
  cog.toml
  hk.pkl
Due: prettier

build: remove the unused `.secrets.baseline` file
  .secrets.baseline
Due: prettier

build: remove the noise lockfile maintenance task from the renovate config
  mise.toml
  renovate.json
Due: prettier

build: updated core dependencies to latest minor versions
  .gitleaks_baseline.json
  .markdownlint.json
  .mise/tasks/check-dist
  .mise/tasks/eslint/check
  .mise/tasks/eslint/fix
  .mise/tasks/fix
  .mise/tasks/lint
  .mise/tasks/prettier/check
  .mise/tasks/prettier/fix
  SECURITY_REVIEW.md
  dist/index.cjs
  dist/index.cjs.map
  guide/src/02-usage.md
  guide/src/quickstart.md
  mise.toml
  package.json
  pnpm-lock.yaml
  rollup.config.ts
Due: prettier, eslint

build: update mise dependencies and add mise.lock lockfile
  REUSE.toml
  mise.lock
  mise.toml
Due: prettier

build: update digests of github actions
  .github/workflows/check-dist.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/deploy_mdbook.yaml
  .github/workflows/release.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/sonar-cloud.yaml
  .github/workflows/test.yaml
Due: prettier

build: update the lockfile for pnpm
  pnpm-lock.yaml
Due: prettier

build: fixed the logic of input files in the fix and lint tasks
  .mise/tasks/fix
  .mise/tasks/lint
Due: prettier

build: migrated to the node24 runtime
  .mise/tasks/_install
  action.yaml
  mise.lock
  mise.toml
  package.json
  pnpm-lock.yaml
Due: prettier

build: add a file name length guard to only run fix and lit with staged files
  .mise/tasks/fix
  .mise/tasks/lint
Due: prettier

docs: fix comment mentioning node 22 version
  mise.toml
Due: prettier

build: restrict cocogitto to time since last tag
  cog.toml
Due: prettier

Path conditions:
  prettier: any of: not (^dist/.*$), but not: ^dist/.*$
  eslint: any of: \.[jt]sx?$, but not: ^dist/.*$
