Repository AliSajid/random-wait-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2022 - 2025 Ali Sajid Imami
#
# SPDX-License-Identifier: MIT

exclude: '^dist/.*$'
repos:
    - repo: https://github.com/commitizen-tools/commitizen
      rev: v4.13.8
      hooks:
          - id: commitizen

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-json
          - id: no-commit-to-branch
            args:
                - --branch
                - main
                - --branch
                - next
          - id: check-merge-conflict
          - id: check-toml
          - id: check-xml
          - id: check-yaml
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args:
                - --fix=no
          - id: pretty-format-json
            args:
                - --indent=4
                - --autofix
          - id: trailing-whitespace
            args:
                - --markdown-linebreak-ext=md
          - id: check-added-large-files

    - repo: https://github.com/compilerla/conventional-pre-commit
      rev: v4.3.0
      hooks:
          - id: conventional-pre-commit
            args:
                - build
                - chore
                - ci
                - docs
                - feat
                - fix
                - perf
                - refactor
                - revert
                - style
                - test
                - bump
            stages:
                - commit-msg

    - repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.5.6
      hooks:
          - id: forbid-crlf
          - id: remove-crlf
          - id: forbid-tabs
          - id: remove-tabs
    - repo: https://github.com/adrienverge/yamllint
      rev: v1.38.0
      hooks:
          - id: yamllint
            args:
                - --config=$(pwd)/.yamllint.yml
            stages:
                - commit-msg

    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: v0.47.0
      hooks:
          - id: markdownlint
            args:
                - --ignore
                - CHANGELOG.md

    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
          - id: detect-secrets
            args:
                - '--baseline'
                - '.secrets.baseline'
            exclude: 'pnpm-lock.yaml'

    - repo: https://github.com/sirosen/texthooks
      rev: 0.7.1
      hooks:
          - id: fix-smartquotes
          - id: fix-ligatures
          - id: forbid-bidi-controls

    - repo: https://github.com/zricethezav/gitleaks
      rev: v8.30.0
      hooks:
          - id: gitleaks
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            entry: node_modules/.bin/prettier --write --ignore-unknown
            language: system
            exclude: '^dist/.*$'
          - id: eslint
            name: eslint
            entry: node_modules/.bin/eslint --fix
            language: system
            files: \.[jt]sx?$
    - repo: https://github.com/fsfe/reuse-tool
      rev: 'v6.2.0'
      hooks:
          - id: reuse
    - repo: https://github.com/renovatebot/pre-commit-hooks
      rev: 43.4.3
      hooks:
          - id: renovate-config-validator
            language_version: 20.18.0

build: ensure that the coverage script is running correctly
  .github/workflows/test.yaml
  .mise/tasks/fix
  package.json
Due: prettier

ci: ensure only the coverage directory is gitignored
  .github/workflows/test.yaml
  .gitignore
  .mise/tasks/coverage
Due: prettier

build: ignore dist/ files for secret scanning
  .gitleaks_baseline.json
  .secrets.baseline
  eslint.config.mjs
  hk.pkl
  mise.toml
  package.json
Due: prettier

build: correct the ignoreing of detect-secrets and gitleaks
  .gitleaksignore
  .secrets.baseline
  hk.pkl
Due: prettier

ci: allow mise.jdx.dev for the build job
  .github/workflows/test.yaml
  CHANGELOG.md
Due: prettier

build: move the test task to mise completely
  .mise/tasks/test
  package.json
Due: prettier

docs: fix style probnlems in CHANGELOG.md
  CHANGELOG.md
  styles/config/vocabularies/Custom/accept.txt
Due: prettier

ci: fix deficiencies in the test workflow:
  .github/workflows/test.yaml
Due: prettier

build: fix case of GitHub name
  package.json
Due: prettier

build: fix minor suggestions on typos and versioing
  .github/workflows/test.yaml
  action.yaml
  package.json
Due: prettier

build: update the source map
  dist/index.cjs.map
Due: none

build: update the bundle and config
  dist/index.cjs.map
  tsconfig.json
Due: prettier

test: update test structure with typeguards
  __tests__/validateInputs.test.ts
Due: prettier, eslint

ci: update the harden_runner allows access to other targets
  .github/workflows/codeql-analysis.yaml
  .github/workflows/sonar-cloud.yaml
  .github/workflows/test.yaml
Due: prettier

build: update to get rid of the eslint errors
  __tests__/RandomWaitAction.test.ts
  __tests__/wait.test.ts
  eslint.config.mjs
  tsconfig.eslint.json
Due: prettier, eslint

build: update the pre-commit hooks again
  .pre-commit-config.yaml
Due: prettier

build: update the years in copyright sections
  .mise/tasks/precommit/forbid_crlf.py
  .mise/tasks/precommit/forbid_tabs.py
  .mise/tasks/precommit/remove_crlf.py
  .mise/tasks/precommit/remove_tabs.py
Due: prettier

build: move the actions and scripts mostly to mise
  .mise/tasks/lint
  package.json
Due: prettier

build: remove mandling of function names in rollup
  rollup.config.ts
Due: prettier, eslint

build: fix the regeneration of the detect secrets basline
  .secrets.baseline
  hk.pkl
Due: prettier

fix: fixed the conflicts in the wait.ts file
  dist/index.cjs
  dist/index.cjs.map
  eslint.config.mjs
  src/wait.ts
Due: prettier, eslint

build: exclude the map file from mixed line endings
  dist/index.cjs.map
  hk.pkl
Due: prettier

ci: fine tune the mise blcoked calls 2
  .github/workflows/test.yaml
Due: prettier

build(mise): restructure tasks and pnpm run items to mise tasks
  .mise/tasks/_install
  .mise/tasks/action/test/custom
  .mise/tasks/action/test/run
  .mise/tasks/audit
  .mise/tasks/build
  .mise/tasks/check-dist
  .mise/tasks/ci
  .mise/tasks/clean
  .mise/tasks/dev
  .mise/tasks/docs/build
  .mise/tasks/docs/serve
  .mise/tasks/eslint/check
  .mise/tasks/eslint/fix
  .mise/tasks/fix
  .mise/tasks/lint
  .mise/tasks/prettier/check
  .mise/tasks/prettier/fix
  .mise/tasks/setup
  .mise/tasks/test
  .mise/tasks/update
  cog.toml
  hk.pkl
  mise.toml
  package.json
Due: prettier

fix: update the CHANGELOG.md
  .codacy.yaml
  CHANGELOG.md
  dist/index.cjs.map
  src/RandomWaitAction.ts
Due: prettier, eslint

ci: update the harden_runner allows access to api.github.com
  .github/workflows/check-dist.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/sonar-cloud.yaml
  docusaurus.config.ts
Due: prettier, eslint

ci: add static.crates.io to allowed endpoints
  .github/workflows/codeql-analysis.yaml
Due: prettier

build: update the build bundle
  dist/index.cjs
  dist/index.cjs.map
Due: none

ci: exclude main.ts from the test coverage
  sonar-project.properties
Due: prettier

build: create a workable copy of the pre-commit config in hk
  .gitleaks_baseline.json
  .mise/tasks/precommit/forbid_crlf.py
  .mise/tasks/precommit/forbid_tabs.py
  .mise/tasks/precommit/remove_crlf.py
  .mise/tasks/precommit/remove_tabs.py
  .secrets.baseline
  LICENSES/Apache-2.0.txt
  hk.pkl
  mise.toml
Due: prettier

build: update pre-commit repository versions
  .pre-commit-config.yaml
Due: prettier

ci: add debug logging to find out why the coverage action is not run
  .github/workflows/test.yaml
Due: prettier

build: ignore the rollup.config.ts checks on codacy
  rollup.config.ts
Due: prettier, eslint

build: update dependencies for the action
  package.json
  pnpm-lock.yaml
Due: prettier

ci: fix the build for using node types for v22.x
  pnpm-lock.yaml
Due: prettier

build: update codacy config to ignore overly strict setting sin test files
  .codacy.yaml
  eslint.config.mjs
Due: prettier
