Repository AliSajid/random-wait-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2022 - 2025 Ali Sajid Imami
#
# SPDX-License-Identifier: MIT

exclude: "^dist/.*$"
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.2
    hooks:
      - id: commitizen

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch
          - main
          - --branch
          - next
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix=no
      - id: pretty-format-json
        args:
          - --indent=4
          - --autofix
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md
      - id: check-added-large-files

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        args:
          - build
          - chore
          - ci
          - docs
          - feat
          - fix
          - perf
          - refactor
          - revert
          - style
          - test
          - bump
        stages:
          - commit-msg

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          - --config=$(pwd)/.yamllint.yml
        stages:
          - commit-msg

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          - --ignore
          - CHANGELOG.md

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - "--baseline"
          - ".secrets.baseline"
        exclude: "pnpm-lock.yaml"

  - repo: https://github.com/sirosen/texthooks
    rev: 0.7.1
    hooks:
      - id: fix-smartquotes
      - id: fix-ligatures
      - id: forbid-bidi-controls

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.27.0
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write --ignore-unknown
        language: system
        exclude: "^dist/.*$"
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --fix
        language: system
        files: \.[jt]sx?$
  - repo: https://github.com/fsfe/reuse-tool
    rev: "v6.1.2"
    hooks:
      - id: reuse
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.159.4
    hooks:
      - id: renovate-config-validator

ci: fine tune the mise blcoked calls 2
  .github/workflows/test.yaml
Due: prettier

build: update the build bundle
  dist/index.cjs
  dist/index.cjs.map
Due: none

build: intermediate commit to cleanup the repo
  CHANGELOG.md
  REUSE.toml
  babel.config.js
  dist/index.cjs
  dist/index.cjs.map
  docs/README.md
  docs/docs/api.md
  docs/docs/intro.md
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/sidebars.ts
  docs/src/components/Homepage/index.js
  docs/src/components/Homepage/index.tsx
  docs/src/components/Homepage/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.js
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
  docs/static/img/docusaurus-social-card.jpg
  docs/static/img/docusaurus.png
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
  eslint.config.mjs
  rollup.config.ts
  src/wait.ts
Due: prettier, eslint

ci: update the harden runner network access
  .github/workflows/check-dist.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/deploy_mdbook.yaml
  .github/workflows/docusaurus-deploy.yaml
  .github/workflows/release.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/sonar-cloud.yaml
  .github/workflows/test.yaml
  REUSE.toml
Due: prettier

ci: update the harden_runner allows access to other targets
  .github/workflows/codeql-analysis.yaml
  .github/workflows/sonar-cloud.yaml
  .github/workflows/test.yaml
Due: prettier

ci: update the harden_runner allows access to api.github.com
  .github/workflows/check-dist.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/sonar-cloud.yaml
  docusaurus.config.ts
Due: prettier, eslint

ci: fix deficiencies in the test workflow:
  .github/workflows/test.yaml
Due: prettier

ci: remove duplicate mise entry from workflow
  .github/workflows/deploy_mdbook.yaml
Due: prettier

ci: add static.crates.io to allowed endpoints
  .github/workflows/codeql-analysis.yaml
Due: prettier

ci: tweak the allowed endpoint list for experimentation
  .github/workflows/check-dist.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/deploy_mdbook.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/sonar-cloud.yaml
  .github/workflows/test.yaml
Due: prettier

fix: fixed the conflicts in the wait.ts file
  dist/index.cjs
  dist/index.cjs.map
  eslint.config.mjs
  src/wait.ts
Due: prettier, eslint

ci: allow mise.jdx.dev for the build job
  .github/workflows/test.yaml
  CHANGELOG.md
Due: prettier

ci: allow further domains for the tasks
  .github/workflows/check-dist.yaml
  .github/workflows/test.yaml
Due: prettier

build: update the source map
  dist/index.cjs.map
Due: none

style: align with prettier conventions
  __tests__/RandomWaitAction.test.ts
  __tests__/validateInputs.test.ts
  __tests__/wait.test.ts
  src/constants.ts
  src/main.ts
Due: prettier, eslint

build: update to get rid of the eslint errors
  __tests__/RandomWaitAction.test.ts
  __tests__/wait.test.ts
  eslint.config.mjs
  tsconfig.eslint.json
Due: prettier, eslint

build: update typscript config files
  tsconfig.base.json
  tsconfig.eslint.json
  tsconfig.json
Due: prettier

test: update test structure with typeguards
  __tests__/validateInputs.test.ts
Due: prettier, eslint

build: update dependencies for the action
  package.json
  pnpm-lock.yaml
Due: prettier

ci: remove duplicated entries in the ci setup for allowed endpoints
  .github/workflows/scorecard.yaml
  .github/workflows/test.yaml
Due: prettier

build: add default assignee to sonar project config
  sonar-project.properties
Due: prettier

docs: update the JSDoc Documentation throughout the project
  dist/index.cjs
  dist/index.cjs.map
  src/RandomWaitAction.ts
  src/utils/validateInputs.ts
  src/wait.ts
Due: prettier, eslint

build: update the bundle and config
  dist/index.cjs.map
  tsconfig.json
Due: prettier

build: update sonar config to correctly point to src/ and test coverage
  sonar-project.properties
Due: prettier

build: update codacy config to ignore overly strict setting sin test files
  .codacy.yaml
  eslint.config.mjs
Due: prettier

build: fix minor suggestions on typos and versioing
  .github/workflows/test.yaml
  action.yaml
  package.json
Due: prettier

ci: exclude main.ts from the test coverage
  sonar-project.properties
Due: prettier

ci: fix the build for using node types for v22.x
  pnpm-lock.yaml
Due: prettier

fix: update the CHANGELOG.md
  .codacy.yaml
  CHANGELOG.md
  dist/index.cjs.map
  src/RandomWaitAction.ts
Due: prettier, eslint

build: silence the linting errors
  .codacy.yaml
  .markdownlintignore
  CHANGELOG.md
  REUSE.toml
Due: prettier

docs: fix style probnlems in CHANGELOG.md
  CHANGELOG.md
  styles/config/vocabularies/Custom/accept.txt
Due: prettier
