Repository AliSajid/random-wait-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: 2022 - 2025 Ali Sajid Imami
#
# SPDX-License-Identifier: MIT

exclude: "^dist/.*$"
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.2
    hooks:
      - id: commitizen

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch
          - main
          - --branch
          - next
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix=no
      - id: pretty-format-json
        args:
          - --indent=4
          - --autofix
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md
      - id: check-added-large-files

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        args:
          - build
          - chore
          - ci
          - docs
          - feat
          - fix
          - perf
          - refactor
          - revert
          - style
          - test
          - bump
        stages:
          - commit-msg

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
      - id: remove-crlf
      - id: forbid-tabs
      - id: remove-tabs
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          - --config=$(pwd)/.yamllint.yml
        stages:
          - commit-msg

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args:
          - --ignore
          - CHANGELOG.md

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - "--baseline"
          - ".secrets.baseline"
        exclude: "pnpm-lock.yaml"

  - repo: https://github.com/sirosen/texthooks
    rev: 0.7.1
    hooks:
      - id: fix-smartquotes
      - id: fix-ligatures
      - id: forbid-bidi-controls

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.27.0
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write --ignore-unknown
        language: system
        exclude: "^dist/.*$"
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --fix
        language: system
        files: \.[jt]sx?$
  - repo: https://github.com/fsfe/reuse-tool
    rev: "v6.1.2"
    hooks:
      - id: reuse
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.159.4
    hooks:
      - id: renovate-config-validator

build: update the bundle and config
  dist/index.cjs.map
  tsconfig.json
Due: prettier

ci: tweak the allowed endpoint list for experimentation
  .github/workflows/check-dist.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/deploy_mdbook.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/sonar-cloud.yaml
  .github/workflows/test.yaml
Due: prettier

build: update codacy config to ignore overly strict setting sin test files
  .codacy.yaml
  eslint.config.mjs
Due: prettier

test: update test structure with typeguards
  __tests__/validateInputs.test.ts
Due: prettier, eslint

docs: update the JSDoc Documentation throughout the project
  dist/index.cjs
  dist/index.cjs.map
  src/RandomWaitAction.ts
  src/utils/validateInputs.ts
  src/wait.ts
Due: prettier, eslint

build: add default assignee to sonar project config
  sonar-project.properties
Due: prettier

ci: fix deficiencies in the test workflow:
  .github/workflows/test.yaml
Due: prettier

ci: allow further domains for the tasks
  .github/workflows/check-dist.yaml
  .github/workflows/test.yaml
Due: prettier

build: update the source map
  dist/index.cjs.map
Due: none

build: update typscript config files
  tsconfig.base.json
  tsconfig.eslint.json
  tsconfig.json
Due: prettier

build: update the build bundle
  dist/index.cjs
  dist/index.cjs.map
Due: none

ci: fix the build for using node types for v22.x
  pnpm-lock.yaml
Due: prettier

fix: fixed the conflicts in the wait.ts file
  dist/index.cjs
  dist/index.cjs.map
  eslint.config.mjs
  src/wait.ts
Due: prettier, eslint

fix: update the CHANGELOG.md
  .codacy.yaml
  CHANGELOG.md
  dist/index.cjs.map
  src/RandomWaitAction.ts
Due: prettier, eslint

ci: fine tune the mise blcoked calls 2
  .github/workflows/test.yaml
Due: prettier

build: update pre-commit repository versions
  .pre-commit-config.yaml
Due: prettier

build: update the pre-commit hooks again
  .pre-commit-config.yaml
Due: prettier

build: create a workable copy of the pre-commit config in hk
  .gitleaks_baseline.json
  .mise/tasks/precommit/forbid_crlf.py
  .mise/tasks/precommit/forbid_tabs.py
  .mise/tasks/precommit/remove_crlf.py
  .mise/tasks/precommit/remove_tabs.py
  .secrets.baseline
  LICENSES/Apache-2.0.txt
  hk.pkl
  mise.toml
Due: prettier

build: replace hk as the pre-commit runner
  .pre-commit-config.yaml
Due: prettier

build: ignore dist/ files for secret scanning
  .gitleaks_baseline.json
  .secrets.baseline
  eslint.config.mjs
  hk.pkl
  mise.toml
  package.json
Due: prettier

build: correct the ignoreing of detect-secrets and gitleaks
  .gitleaksignore
  .secrets.baseline
  hk.pkl
Due: prettier

build: more checking to kill warnings
  .secrets.baseline
  hk.pkl
Due: prettier

build: fix the regeneration of the detect secrets basline
  .secrets.baseline
Due: prettier

build: fix the regeneration of the detect secrets basline
  .secrets.baseline
  hk.pkl
Due: prettier

ci: switch harden-runner to audit network calls
  .github/workflows/check-dist.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/deploy_mdbook.yaml
  .github/workflows/release.yaml
  .github/workflows/sonar-cloud.yaml
  .github/workflows/test.yaml
  .secrets.baseline
  .yamlfmt
  .yamllint.yaml
  REUSE.toml
  hk.pkl
Due: prettier

build(mise): update pnpm version in mise.toml
  mise.toml
Due: prettier

build(reuse): reorganize the REUSE.toml file
  REUSE.toml
Due: prettier

build: fix contradictory argparse options in a script
  .mise/tasks/precommit/remove_tabs.py
Due: prettier

build: fix case of GitHub name
  package.json
Due: prettier

build(mise): restructure tasks and pnpm run items to mise tasks
  .mise/tasks/_install
  .mise/tasks/action/test/custom
  .mise/tasks/action/test/run
  .mise/tasks/audit
  .mise/tasks/build
  .mise/tasks/check-dist
  .mise/tasks/ci
  .mise/tasks/clean
  .mise/tasks/dev
  .mise/tasks/docs/build
  .mise/tasks/docs/serve
  .mise/tasks/eslint/check
  .mise/tasks/eslint/fix
  .mise/tasks/fix
  .mise/tasks/lint
  .mise/tasks/prettier/check
  .mise/tasks/prettier/fix
  .mise/tasks/setup
  .mise/tasks/test
  .mise/tasks/update
  cog.toml
  hk.pkl
  mise.toml
  package.json
Due: prettier

build: remove old tool files
  .cz.toml
  .releaserc.yaml
Due: prettier

feat: ensure reproducible builds for the bundle
  dist/index.cjs
  dist/index.cjs.map
  package.json
  pnpm-lock.yaml
  rollup.config.ts
Due: prettier, eslint

build: update markdownlint config to match the status of the repo
  .markdownlint.json
Due: prettier

build: update the years in copyright sections
  .mise/tasks/precommit/forbid_crlf.py
  .mise/tasks/precommit/forbid_tabs.py
  .mise/tasks/precommit/remove_crlf.py
  .mise/tasks/precommit/remove_tabs.py
Due: prettier
